.outFooter{
	position: relative;
	left:0px; 
 	bottom:0px; 
    display: table-cell;
    vertical-align: middle;
    height: 200px;
    width:100vw;
}
.footer{
    text-align: center;
    
} 
