nav{
	height:200px;
	text-align: center;
	margin: 0px auto;
}



.logo img{
    width: 230px;
    height: 88px;
    display: block;
    margin: 0px auto;
    top: 20px;
    margin-bottom: 52px;
    position: relative;
}


.menu_ul{
	position:relative;
	list-style: none;
	display: block;
	margin-left: 15%;
}

.menu_li{
	width : 200px;
	float: left;
	font-weigh: 400;
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
	align-items: center;
}

.menu-link{
	color: white;
	display:inline-block;
	text-decoration: none;
}

.menu-link:hover{
	text-decoration: none;
	color: #525252;
}


.MyMenu{
	width : 200px;
	height:30px;
	position: absolute;
	top: 20px;
	right: 10px;
	text-decoration: none;
}

.mymenu-link{
	text-decoration: none;
	color: gray;
}

.mymenu-link:hover{
	text-decoration: none;
	color: black;
}



.menu-css{
	margin-top:10px;
	top : 30px;
	width: 190px;
	height: 30px;
	border-radius: 10px;
	
}

#not{
	background-color: #f59178;
}

#cal{
	background-color: #6cc765;
}

#note{
	background-color: #4e7ccc;
}

#req{
	background-color: #a889cc;
}

#photo{
	background-color: orange;
}


.ml-auto button{
    position: relative;
    margin-right: 20px;
}



