.home-img img{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}
.home-div{
    position: relative;
    margin: auto;
    top:120px;
    height:600px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5%;
    font-weight: bold; 
}
 
.image-center{
    text-align: center;
}

.home-div img{
    height: 100px; 
    margin-top: 20px;
}

.right{
    float:right;
}

.home-div div{
    margin-top: 10px; 
}
 
.btn-right { 
	margin-left:85%;
} 