<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<!-- <typeAlias type="com.mvc.ex01.dto.DataDto" alias="dataDto" /> -->
	</typeAliases>

	<mappers>
		<!--  <mapper resource="/mybatis/board-mapper.xml" /> -->
	</mappers>
	
	<!-- resource : src/main/resources -->


</configuration>

