<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.project.kingthejoy.member.dto.MemberDto" alias="memberDto" />
		<typeAlias type="com.project.kingthejoy.school.dto.SchoolDto" alias="schoolDto" />
		<typeAlias type="com.project.kingthejoy.children.dto.ChildrenDto" alias="childrenDto" />
	</typeAliases>

	<mappers>
		<mapper resource="/mybatis/member-mapper.xml" />
	</mappers>
	
	<!-- resource : src/main/resources -->


</configuration>