<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<typeAlias type="com.project.kingthejoy.member.dto.MemberDto" alias="memberDto" />
		<typeAlias type="com.project.kingthejoy.menu.dto.MenuDto" alias="menuDto" />
		<typeAlias type="com.project.kingthejoy.notification.dto.NotificationDto" alias="notificationDto"/>
		<typeAlias type="com.project.kingthejoy.notification.dto.NotificationCheckDto" alias="notificationCheckDto"/>
		<typeAlias type="com.project.kingthejoy.school.dto.SchoolDto" alias="schoolDto" />
		<typeAlias type="com.project.kingthejoy.note.dto.NoteDto" alias="noteDto"/>
		<typeAlias type="com.project.kingthejoy.schedule.dto.ScheduleDto" alias="scheduleDto"/>
		<typeAlias type="com.project.kingthejoy.children.dto.ChildrenDto" alias="childrenDto" />
		<typeAlias type="com.project.kingthejoy.letter.dto.LetterDto" alias="letterDto" />
		<typeAlias type="com.project.kingthejoy.paging.PagingDto" alias="pagingDto" />
		<typeAlias type="com.project.kingthejoy.principal.dto.PrincipalDto" alias="principalDto" />
		<typeAlias type="com.project.kingthejoy.notification.dto.GetNewNotificationDto" alias="getNewNotification"/>
	</typeAliases>

	<mappers>
		<mapper resource="/mybatis/member-mapper.xml" />
		<mapper resource="/mybatis/menu-mapper.xml" />
		<mapper resource="/mybatis/notification-mapper.xml"/>
		<mapper resource="/mybatis/letter-mapper.xml" />
		<mapper resource="/mybatis/principal-mapper.xml" />
		<mapper resource="/mybatis/portrait-mapper.xml" />
		<mapper resource="/mybatis/note-mapper.xml"/>
		<mapper resource="/mybatis/schedule-mapper.xml"/>
	</mappers>
	
	<!-- resource : src/main/resources -->



</configuration>